<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class={{selected_theme}}>

    <div class="container">
        <h1>Digital Canvas</h1>

        <h2 onclick="toggleDropdown()">Add Images <span id="dropdownArrow" class="dropdown-arrow">▼</span></h2>

        <div id="formContainer" class="form-container" style="display: none;">
            <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
                <h3>Upload an image</h3>
                <input type="file" name="file" multiple>
                <input type="submit" value="Upload File">
        
                <h3>Or provide an image URL</h3>
                <input type="text" name="image_url" placeholder="Enter image URL">
                <input type="submit" value="Upload from URL">
            </form>
        </div>
        
        <!-- Hamburger Icon -->
        <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Settings Menu Container -->
        <div class="settings-menu">
            <h2>Device Name</h2>
            <div class="device-name-container">
                <div><span id="deviceNameText">{{ config_manager.config['device_name'] }}</span></div>
                <input type="text" id="deviceNameInput" class="device-name-input" style="min-width: 150px;" value="{{ config_manager.config['device_name'] }}">
                <button class="edit-icon" onclick="editDeviceName()">✏️</button>
            </div>

            <div class="theme-selector">
                <label for="theme-dropdown">Choose a theme: </label>
                <select id="theme-dropdown" class="dropdown" onchange="sendThemeSelection()">
                    <option value="dark-theme" {% if selected_theme == 'dark-theme' %}selected{% endif %}>Dark</option>
                    <option value="light-theme" {% if selected_theme == 'light-theme' %}selected{% endif %}>Light</option>
                    <option value="darcula-theme" {% if selected_theme == 'darcula-theme' %}selected{% endif %}>Darcula</option>
                    <option value="warm-sunset-theme" {% if selected_theme == 'warm-sunset-theme' %}selected{% endif %}>Warm Sunset</option>
                    <option value="ocean-breeze-theme" {% if selected_theme == 'ocean-breeze-theme' %}selected{% endif %}>Ocean Breeze</option>
                    <option value="autumn-leaves-theme" {% if selected_theme == 'autumn-leaves-theme' %}selected{% endif %}>Autumn Leaves</option>
                    <option value="winter-wonderland-theme" {% if selected_theme == 'winter-wonderland-theme' %}selected{% endif %}>Winter Wonderland</option>
                    <option value="spring-blossom-theme" {% if selected_theme == 'spring-blossom-theme' %}selected{% endif %}>Spring Blossom</option>
                </select>
            </div>

            <hr>

            <h2>Slideshow Controls</h2>
            <div class="controls">
                <div class="button-container">
                    <form method="POST" action="{{ url_for('slideshow_previous') }}">
                        <button type="submit">Previous</button>
                    </form>
                    <form method="POST" action="{{ url_for('slideshow_next') }}">
                        <button type="submit">Next</button>
                    </form>
                </div>
                <div class="checkbox-container">
                    <label for="slideshow_active_checkbox">Slideshow Active</label>
                    <input type="checkbox" id="slideshow_active_checkbox" name="slideshow_active_checkbox" {% if slideshow_running %}checked{% endif %} onchange="toggleActiveSlideshow()"> 
                </div>

                <form method="POST" action="{{ url_for('configure_display') }}">
                    <h2>Display Settings</h2>
                    <label for="display_mode_windowed">Canvas: </label>
                    <input type="radio" id="display_mode_windowed" name="display_mode" value="windowed" {% if display_mode == 'windowed' %}checked{% endif %} onchange="handleDisplayModeChange()">
                    <label for="windowed">Windowed</label>
                    <input type="radio" id="display_mode_fullscreen" name="display_mode" value="fullscreen" {% if display_mode == 'fullscreen' %}checked{% endif %} onchange="handleDisplayModeChange()">
                    <label for="fullscreen">Fullscreen</label>

                    <div class="rotation-selector">
                        <label for="rotation-dropdown">Screen Rotation: </label>
                        <select id="rotation-dropdown" class="dropdown" onchange="sendRotationSelection()" {% if auto_rotation %}disabled{% endif %}>
                            <option value="0" {% if rotation == 0 %}selected{% endif %}>0</option>
                            <option value="90" {% if rotation == 90 %}selected{% endif %}>90</option>
                            <option value="180" {% if rotation == 180 %}selected{% endif %}>180</option>
                            <option value="270" {% if rotation == 270 %}selected{% endif %}>270</option>
                        </select>
                        <label for="auto-rotation">Auto</label>
                        <input type="checkbox" id="auto-rotation" name="auto-rotation" onchange="toggleAutoRotation()" {% if auto_rotation %}checked{% endif %}>
                    </div>

                    <!-- <h3>Scale Mode</h3> -->
                    <label for="fit">Scale Mode: </label>
                    <input type="radio" id="fit" name="scale_mode" value="fit" {% if scale_mode == 'fit' %}checked{% endif %} onchange="handleScaleModeChange()">
                    <label for="fit">Fit</label>
                    <input type="radio" id="fill" name="scale_mode" value="fill" {% if scale_mode == 'fill' %}checked{% endif %} onchange="handleScaleModeChange()">
                    <label for="fill">Fill</label>
                </form>

                <h2>Screen Control</h2>
                <div>
                    <label for="brightness-slider">Brightness</label>
                    <input type="range" id="brightness-slider" name="brightness-slider" min="0" max="100" onchange="sendBrightness()" value="{{ current_brightness }}" {% if auto_brightness %}disabled{% endif %}>
                    <label for="auto-brightness">Auto</label>
                    <input type="checkbox" id="auto-brightness" name="auto-brightness" onchange="toggleAutoBrightness()" {% if auto_brightness %}checked{% endif %}>
                </div>
                <div>
                    <!-- it would be cleaner to put the logic in the style but this would prevent rendering outside flask -->
                    <label for="monitor-power">Monitor Power</label>
                    {% if monitor_power_state == 'on' %}
                    <button id="turnOnButton" onclick="toggleMonitorPower(this, {value: 'on'})" style="display: none; background-color: #4b944b;">Turn On</button>
                    <button id="turnOffButton" onclick="toggleMonitorPower(this, {value: 'off'})" style="background-color: #944b4b;">Turn Off</button>
                    {% else %}
                    <button id="turnOnButton" onclick="toggleMonitorPower(this, {value: 'on'})" style="background-color: #4b944b;">Turn On</button>
                    <button id="turnOffButton" onclick="toggleMonitorPower(this, {value: 'off'})" style="display: none; background-color: #944b4b;">Turn Off</button>
                    {% endif %}
                </div>

                <div>
                    <label for="time-on">Time On:</label>
                    <input type="time" id="time-on" name="time-on" value="{{ time_on }}">
                </div>
                  
                <div>
                    <label for="time-off">Time Off:</label>
                    <input type="time" id="time-off" name="time-off" value="{{ time_off }}">
                </div>

                <button onclick="saveScreenControlSettings()">Set Times</button>

            </div>
            
            <hr>
                
            <h2>Slideshow Configuration</h2>
            <div class="controls">

                <!-- <h2>Slideshow Image Filter</h2> -->
                <div>
                    <input type="radio" id="portrait" name="media_orientation_filter" value="portrait" {% if media_orientation_filter == 'portrait' %}checked{% endif %} onchange="handleOrientationFilterChange()">
                    <label for="portrait">Portrait</label>
                    <input type="radio" id="landscape" name="media_orientation_filter" value="landscape" {% if media_orientation_filter == 'landscape' %}checked{% endif %} onchange="handleOrientationFilterChange()">
                    <label for="landscape">Landscape</label>
                    <input type="radio" id="both" name="media_orientation_filter" value="both" {% if media_orientation_filter == 'both' %}checked{% endif %} onchange="handleOrientationFilterChange()">
                    <label for="landscape">Both</label>
                </div>

                <form id="slideshowConfigForm" method="POST" action="{{ url_for('configure_slideshow') }}">
                    <label for="transition_duration">Transition Duration (seconds):</label>
                    <input type="number" id="transition_duration" name="transition_duration" min="0" max="1800" value="{{ transition_duration }}" required>
                    <label for="frame_interval">Frame Interval (seconds):</label>
                    <input type="number" id="frame_interval" name="frame_interval" min="1" max="3600" value="{{ frame_interval }}" required>
                    <button type="submit">Save Configuration</button>
                </form>
            </div>
    
            <hr>

            <h2>MQTT Configuration</h2>
            <div class="controls">
                <form id="mqttConfigForm" method="POST" action="{{ url_for('configure_mqtt') }}">
                    <label for="mqtt_broker">Broker:</label>
                    <input type="text" id="mqtt_broker" name="mqtt_broker" value="{{ mqtt_broker }}" required>
                    <label for="mqtt_port">Port:</label>
                    <input type="number" id="mqtt_port" name="mqtt_port" value="{{ mqtt_port }}" required>
                    <label for="mqtt_topic">Topic:</label>
                    <input type="text" id="mqtt_topic" name="mqtt_topic" value="{{ mqtt_topic }}" required>
                    <button type="submit">Connect</button>
                </form>
                <div id="mqttStatus">Connection Status: 
                    <span id="mqttConnectionStatus" class="{{ 'status-connected' if mqtt_connected else 'status-disconnected' }}">
                        {{ 'Connected' if mqtt_connected else 'Disconnected' }}
                    </span>
                </div>
            </div>

            <hr>

            <h2>Plex</h2>
            <p>Plex integration allows the plex server to send a webhook request to this canvas. </p>
            <div class="controls">
                <div>
                    <form id="plexConfigForm" method="POST" action="{{ url_for('configure_plex') }}">
                        <label for="plex_port">Port:</label>
                        <input type="number" id="plex_port" name="plex_port" value="{{ plex_port }}" required>
                        <button type="submit">Save</button>
                    </form>
                </div>
                <br>
                <div>
                    <label for="allow_plex">Enable Control</label>
                    <input type="checkbox" id="allow_plex" name="allow_plex" onchange="toggleAllowPlex()" {% if allow_plex %}checked{% endif %}>
                    <br>
                    <label for="pause_when_plex_playing">Pause Slideshow when Playing</label>
                    <input type="checkbox" id="pause_when_plex_playing" name="pause_when_plex_playing" onchange="toggleAllowPlex()" {% if pause_when_plex_playing %}checked{% endif %}>
                </div>
            </div>


            <hr>

            <h2>System Control</h2>
            <div class="controls">
                <button onclick="confirmAction('reboot')">Reboot</button>
                <button onclick="confirmAction('shutdown')">Shutdown</button>
            </div>


        </div>

        <h2>Gallery
            <select id="filter-dropdown" class="dropdown" onchange="handleOrientationFilterDropdownChange()">
                <option value="landscape" {% if media_orientation_filter == 'landscape' %}selected{% endif %}>Landscape</option>
                <option value="portrait" {% if media_orientation_filter == 'portrait' %}selected{% endif %}>Portrait</option>
                <option value="both" {% if media_orientation_filter == 'both' %}selected{% endif %}>Both</option>
            </select>
        </h2>

        <form id="deleteForm" method="POST" action="{{ url_for('delete_file') }}" style="display: none;">
            <input type="hidden" name="filename" id="deleteFilename">
        </form>

        <div class="gallery">
            {% for file in files %}
            <div class="gallery-item" data-filename="{{ file.filename }}" data-media_orientation_filter="{{ media_orientation_filter }}" onclick="selectFile('{{ file.filename }}')">
                <img src="{{ url_for('uploaded_thumbnail', filename=file.filename) }}" alt="Thumbnail">
                <button class="delete-button" onclick="confirmDelete('{{ file.filename }}', event)">&times;</button>

                {% if file.is_portrait %}
                <span class="portrait-icon">&#9647;</span>
                {% else %}
                <span class="landscape-icon">&#9645;</span>
                {% endif %} 

                <div class="info">
                    <a href="{{ url_for('uploaded_file', filename=file.filename) }}">View</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <script>

        function confirmAction(action) {
            if (confirm(`Are you sure you want to ${action} the system?`)) {
                sendPowerControl(action);
            }
        }

        function sendPowerControl(action) {
            fetch("{{ url_for('power_control') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'action=' + action
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function saveScreenControlSettings() {
            const timeOn = document.getElementById('time-on').value;
            const timeOff = document.getElementById('time-off').value;

            // Send the new device name to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'time_on=' + timeOn + '&time_off=' + timeOff
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


        function handleOrientationFilterDropdownChange() {
            const filter_dropdown = document.getElementById('filter-dropdown');
            media_orientation_filter = filter_dropdown.value;

            // Send the new media_orientation_filter to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'media_orientation_filter=' + media_orientation_filter
            }).then(() => {
                // Reload the page after the fetch request completes
                window.location.reload();
            }).catch(error => {
                console.error('Error configuring display:', error);
            });
        }



        function toggleAllowPlex() {
            const allowPlexCheckbox = document.getElementById('allow_plex');
            const pauseWhenPlexPlayingCheckbox = document.getElementById('pause_when_plex_playing');

            // Read the checkbox state
            const allowPlexCheckbox_state = allowPlexCheckbox.checked;
            const pauseWhenPlexPlayingCheckbox_state = pauseWhenPlexPlayingCheckbox.checked;

            // Send the new state to the server
            fetch("{{ url_for('configure_plex') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'allow_plex=' + allowPlexCheckbox_state + 
                      '&pause_when_plex_playing=' + pauseWhenPlexPlayingCheckbox_state
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function toggleDropdown() {
            var formContainer = document.getElementById('formContainer');
            var dropdownArrow = document.getElementById('dropdownArrow');
            if (formContainer.style.display === 'none') {
                formContainer.style.display = 'block';
                dropdownArrow.textContent = '▲'; // Change arrow to up
            } else {
                formContainer.style.display = 'none';
                dropdownArrow.textContent = '▼'; // Change arrow to down
            }
        }

        function handleOrientationFilterChange() {
            const portraitRadio = document.getElementById('portrait');
            const landscapeRadio = document.getElementById('landscape');
            const bothRadio = document.getElementById('both');
            
            // Read the selected media_orientation_filter
            let media_orientation_filter = 'both';
            if (portraitRadio.checked) {
                media_orientation_filter = 'portrait';
            } else if (landscapeRadio.checked) {
                media_orientation_filter = 'landscape';
            }

            // Send the new media_orientation_filter to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'media_orientation_filter=' + media_orientation_filter
            }).then(() => {
                // Reload the page after the fetch request completes
                window.location.reload();
            }).catch(error => {
                console.error('Error configuring display:', error);
            });
        }

        function handleScaleModeChange() {
            const fitRadio = document.getElementById('fit');
            const fillRadio = document.getElementById('fill');
            
            // Read the selected scale mode
            const scaleMode = fitRadio.checked ? 'fit' : 'fill';

            // Send the new scale mode to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'scale_mode=' + scaleMode
            });
        }

        function handleDisplayModeChange() {
            const windowedRadio = document.getElementById('display_mode_windowed');
            const fullscreenRadio = document.getElementById('display_mode_fullscreen');
            
            // Read the selected display mode
            const displayMode = windowedRadio.checked ? 'windowed' : 'fullscreen';

            // Send the new display mode to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'display_mode=' + displayMode
            });
        }

        function toggleActiveSlideshow() {
            const slideshowActiveCheckbox = document.getElementById('slideshow_active_checkbox');

            // Read the checkbox state
            const state = slideshowActiveCheckbox.checked;

            // Send the new state to the server
            fetch("{{ url_for('configure_slideshow') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'slideshow_active=' + state
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function toggleMonitorPower(button, state) {
            // Read the button text
            const buttonText = button.textContent || button.innerText;

            // Log the button text
            console.log('Button text:', buttonText);

            // Send the new power state to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'power=' + state.value
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Toggle button visibility
                if (state.value === 'on') {
                    document.getElementById('turnOnButton').style.display = 'none';
                    document.getElementById('turnOffButton').style.display = 'inline-block';
                } else {
                    document.getElementById('turnOnButton').style.display = 'inline-block';
                    document.getElementById('turnOffButton').style.display = 'none';
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function toggleAutoRotation() {
            const autoRotationCheckbox = document.getElementById('auto-rotation');
            const rotationDropdown = document.getElementById('rotation-dropdown');

            if (autoRotationCheckbox.checked) {
                rotationDropdown.disabled = true;
                sendRotationSelection();
            } else {
                rotationDropdown.disabled = false;
                sendRotationSelection();
            }
        }

        function sendRotationSelection() {
            const selectElement = document.getElementById('rotation-dropdown');
            const autoRotationCheckbox = document.getElementById('auto-rotation');

            rotationValue = 0;

            if (autoRotationCheckbox.checked) {
                rotationValue = -1;
            } else {
                rotationValue = selectElement.value;
            }

            // Send the new device name to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'rotation=' + rotationValue
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
       

        function toggleAutoBrightness() {
            const sliderElement = document.getElementById('brightness-slider');
            const autoBrightnessCheckbox = document.getElementById('auto-brightness');

            if (autoBrightnessCheckbox.checked) {
                sliderElement.disabled = true;
                sendBrightness();
            } else {
                sliderElement.disabled = false;
                sendBrightness();
            }
        }

        function sendBrightness() {
            const sliderElement = document.getElementById('brightness-slider');
            const autoBrightnessCheckbox = document.getElementById('auto-brightness');

            brightnessValue = 0;

            if (autoBrightnessCheckbox.checked) {
                brightnessValue = -1;
            } else {
                brightnessValue = sliderElement.value;
            }

            // Send the new brightness value to the server
            fetch("{{ url_for('configure_display') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'brightness=' + brightnessValue
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function filterItems(media_orientation_filter) {
            const items = document.querySelectorAll('.gallery-item');
            items.forEach(item => {
                if (orientation === 'both') {
                    item.style.display = 'block';
                } else {
                    if (item.getAttribute('data-media_orientation_filter') === media_orientation_filter) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                }
            });
        }

        function sendThemeSelection() {
            const selectElement = document.getElementById('theme-dropdown');
            const selectedValue = selectElement.value;

            // Send the new device name to the server
            fetch("{{ url_for('configure_app') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'theme=' + selectedValue
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            // fetch('/configure_app', {
            //     method: 'POST',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify({ theme: selectedValue })
            // })
            // .then(response => response.json())
            // .then(data => console.log('Success:', data))
            // .catch((error) => console.error('Error:', error));
        }

        document.getElementById('theme-dropdown').addEventListener('change', function() {
            document.body.className = this.value;
        });

        document.addEventListener("DOMContentLoaded", function() {
            const galleryItems = document.querySelectorAll('.gallery-item');

            galleryItems.forEach(item => {
                const img = item.querySelector('img');
                const portraitIcon = item.querySelector('.portrait-icon');
                const landscapeIcon = item.querySelector('.landscape-icon');

                img.onload = function() {
                    if (img.naturalHeight > img.naturalWidth) {
                        portraitIcon.style.display = 'inline';
                        landscapeIcon.style.display = 'none';
                    } else {
                        portraitIcon.style.display = 'none';
                        landscapeIcon.style.display = 'inline';
                    }
                };
            });
        });

        function confirmDelete(filename, event) {
            event.stopPropagation(); // Prevent the click event from propagating to the parent elements
            if (confirm("Are you sure you want to delete this image?")) {
                var deleteForm = document.getElementById('deleteForm');
                var deleteFilenameInput = document.getElementById('deleteFilename');
                deleteFilenameInput.value = filename;
                deleteForm.submit();
            }
        }

        function selectFile(filename) {
            // Create a form element
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('select_file') }}";

            // Create a hidden input to hold the filename
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'filename';
            input.value = filename;

            // Append the input to the form and submit
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();

            updateHighlightedImage();
        }

        function editDeviceName() {
            var textSpan = document.getElementById('deviceNameText');
            var inputField = document.getElementById('deviceNameInput');

            // Measure the width of the textSpan and apply it to the inputField
            var spanWidth = textSpan.offsetWidth + "px";
            inputField.style.width = spanWidth;

            textSpan.style.display = 'none';
            inputField.style.display = 'inline';
            inputField.focus();

            inputField.onblur = function() {
                var newName = inputField.value;
                textSpan.textContent = newName;
                textSpan.style.display = 'inline';
                inputField.style.display = 'none';

                // Send the new device name to the server
                fetch("{{ url_for('update_device_name') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'deviceName=' + encodeURIComponent(newName)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            };
        }

        document.addEventListener('DOMContentLoaded', function() {
            const deviceNameInput = document.getElementById('deviceNameInput');

            deviceNameInput.addEventListener('input', function() {
                let value = deviceNameInput.value;

                // Replace spaces with '-'
                value = value.replace(/\s+/g, '-');

                // Remove characters not matching a-z, 0-9, or '-'
                value = value.replace(/[^a-z0-9-]/gi, '');

                // Update the input field with the sanitized value
                deviceNameInput.value = value;
            });
        });

        // JavaScript for Toggle
        document.querySelector('.hamburger-icon').addEventListener('click', function() {
        this.classList.toggle('open');
            document.querySelector('.settings-menu').classList.toggle('open');
        });     

        // This section adds functionality to update the current image in the gallery every xx seconds.
        document.addEventListener('DOMContentLoaded', function() {
            let lastCurrentImageName = null;
            function updateHighlightedImage() {
                fetch("{{ url_for('current_image_name') }}")
                    .then(response => response.text())
                    .then(currentImageName => {
                        if (currentImageName !== lastCurrentImageName) {
                            // Remove the current highlight
                            const previousCurrent = document.querySelector('.gallery-item.current-image');
                            if (previousCurrent) {
                                previousCurrent.classList.remove('current-image');
                            }
                            
                            // Highlight the new current image
                            const galleryItems = document.querySelectorAll('.gallery-item');
                            galleryItems.forEach(item => {
                                const filename = item.getAttribute('data-filename');
                                if (filename === currentImageName) {
                                    item.classList.add('current-image');
                                }
                            });

                            // Update the last current image
                            lastCurrentImageName = currentImageName;
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching current image:', error);
                    });
            }

            // Update the current image every 1 second
            setInterval(updateHighlightedImage, 1000);

            // Initial update
            updateHighlightedImage();

        });
        </script>
    </div>
</body>
</html>
