<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Digital Canvas</h1>

        
        <h2>Upload Media</h2>
        <div class="form-container">
            <form method="POST" action="/" enctype="multipart/form-data">
                <h2>Upload an image</h2>
                <input type="file" name="file">
                <input type="submit" value="Upload File">
            </form>
            
            <form method="POST" action="/">
                <h2>Or provide an image URL</h2>
                <input type="text" name="image_url" placeholder="Enter image URL">
                <input type="submit" value="Upload from URL">
            </form>
        </div>

        <!-- Gear Icon for opening the settings menu -->
        <!-- <div class="gear-icon">&#9881;</div> -->

        <!-- Hamburger Icon -->
        <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Settings Menu Container -->
        <div class="settings-menu">

            <h2>Device Name: </h2>
            <div class="device-name-container">
                <!-- <label for="deviceNameText"></label> -->
                <div><span id="deviceNameText">{{ device_name }}</span></div>
                <input type="text" id="deviceNameInput" class="device-name-input" style="min-width: 150px;" value="{{ device_name }}">
                <button class="edit-icon" onclick="editDeviceName()">✏️</button>
            </div>

            <h2>Slideshow Controls</h2>
            <div class="controls">
                <form method="POST" action="/slideshow/previous">
                    <button type="submit">Previous</button>
                </form>
                <form method="POST" action="/slideshow/next">
                    <button type="submit">Next</button>
                </form>
                <form method="POST" action="/slideshow/delete">
                    <button type="submit">Delete Current</button>
                </form>
                <form method="POST" action="/slideshow/quit">
                    <button type="submit">Quit Slideshow</button>
                </form>                        
            </div>
    
            <h2>Slideshow Configuration</h2>
            <div class="configuration">
                <form id="slideshowConfigForm" method="POST" action="/configure_slideshow">
                    <label for="transition_duration">Transition Duration (seconds):</label>
                    <input type="number" id="transition_duration" name="transition_duration" min="1" max="60" value="{{ transition_duration }}" required>
                    <br>
                    <label for="frame_interval">Frame Interval (seconds):</label>
                    <input type="number" id="frame_interval" name="frame_interval" min="1" max="3600" value="{{ frame_interval }}" required>
                    <br>
                    <button type="submit">Save Configuration</button>
                </form>
            </div>
    
            <h2>MQTT Configuration</h2>
            <div class="controls">
                <form id="mqttConfigForm" method="POST" action="/configure_mqtt ">
                    <label for="mqtt_broker">Broker:</label>
                    <input type="text" id="mqtt_broker" name="mqtt_broker" value="{{ mqtt_broker }}" required>
                    <label for="mqtt_port">Port:</label>
                    <input type="number" id="mqtt_port" name="mqtt_port" value="{{ mqtt_port }}" required>
                    <label for="mqtt_topic">Topic:</label>
                    <input type="text" id="mqtt_topic" name="mqtt_topic" value="{{ mqtt_topic }}" required>
                    <button type="submit">Connect</button>
                </form>
                <div id="mqttStatus">Connection Status: 
                    <span id="mqttConnectionStatus" class="{{ 'status-connected' if mqtt_connected else 'status-disconnected' }}">
                        {{ 'Connected' if mqtt_connected else 'Disconnected' }}
                    </span>
                </div>
            </div>

        </div>

        <h2>Gallery</h2>

        <div class="gallery">
            {% for file in files %}
            <div class="gallery-item" data-filename="{{ file }}" onclick="selectFile('{{ file }}')">
                <img src="{{ url_for('uploaded_thumbnail', filename=file) }}" alt="Thumbnail">
                <div class="info">
                    <a href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a>
                    <div class="actions">
                        <form method="POST" action="{{ url_for('select_file') }}">
                            <input type="hidden" name="filename" value="{{ file }}">
                            <button type="submit">Select</button>
                        </form>
                        <form method="POST" action="{{ url_for('delete_file') }}">
                            <input type="hidden" name="filename" value="{{ file }}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- <div class="gallery">
            {% for file in files %}
            <div class="gallery-item" onclick="selectFile('{{ file }}')">
                <img src="{{ url_for('uploaded_thumbnail', filename=file) }}" alt="Thumbnail">
                <div class="info">
                    <a href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a>
                    <div class="actions">
                        <form method="POST" action="{{ url_for('select_file') }}">
                            <input type="hidden" name="filename" value="{{ file }}">
                            <button type="submit">Select</button>
                        </form>
                        <form method="POST" action="{{ url_for('delete_file') }}">
                            <input type="hidden" name="filename" value="{{ file }}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

        <script>
        function selectFile(filename) {
            // Create a form element
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('select_file') }}";
        
            // Create a hidden input to hold the filename
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'filename';
            input.value = filename;
        
            // Add the input to the form
            form.appendChild(input);
        
            // Add the form to the document body and submit it
            document.body.appendChild(form);
            form.submit();
        }
        
        function editDeviceName() {
            var textSpan = document.getElementById('deviceNameText');
            var inputField = document.getElementById('deviceNameInput');

            // Measure the width of the textSpan and apply it to the inputField
            var spanWidth = textSpan.offsetWidth + "px";
            inputField.style.width = spanWidth;

            textSpan.style.display = 'none';
            inputField.style.display = 'inline';
            inputField.focus();

            inputField.onblur = function() {
                var newName = inputField.value;
                textSpan.textContent = newName;
                textSpan.style.display = 'inline';
                inputField.style.display = 'none';

                // Send the new device name to the server
                fetch('/update_device_name', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'deviceName=' + encodeURIComponent(newName)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            };
        }

        document.addEventListener('DOMContentLoaded', function() {
            const deviceNameInput = document.getElementById('deviceNameInput');

            deviceNameInput.addEventListener('input', function() {
                let value = deviceNameInput.value;

                // Replace spaces with '-'
                value = value.replace(/\s+/g, '-');

                // Remove characters not matching a-z, 0-9, or '-'
                value = value.replace(/[^a-z0-9-]/gi, '');

                // Update the input field with the sanitized value
                deviceNameInput.value = value;
            });
        });

        // JavaScript for Toggle
        document.querySelector('.hamburger-icon').addEventListener('click', function() {
        this.classList.toggle('open');
            document.querySelector('.settings-menu').classList.toggle('open');
        });     


        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('update_current_image', function(data) {
                const currentImage = data.current_image;

                // Remove the current highlight
                const previousCurrent = document.querySelector('.gallery-item.current-image');
                if (previousCurrent) {
                    previousCurrent.classList.remove('current-image');
                }

                // Highlight the new current image
                const galleryItems = document.querySelectorAll('.gallery-item');
                galleryItems.forEach(item => {
                    const filename = item.getAttribute('data-filename');
                    if (filename === currentImage) {
                        item.classList.add('current-image');
                    }
                });
            });
        });

        // This section adds functionality to update the current image in the gallery every xx seconds.
        // document.addEventListener('DOMContentLoaded', function() {
        //     function updateCurrentImage() {
        //     fetch("{{ url_for('current_image') }}")
        //         .then(response => response.text())
        //         .then(currentImage => {
        //         // Remove the current highlight
        //         const previousCurrent = document.querySelector('.gallery-item.current-image');
        //         if (previousCurrent) {
        //             previousCurrent.classList.remove('current-image');
        //         }
                
        //         // Highlight the new current image
        //         const galleryItems = document.querySelectorAll('.gallery-item');
        //         galleryItems.forEach(item => {
        //             const filename = item.getAttribute('data-filename');
        //             if (filename === currentImage) {
        //             item.classList.add('current-image');
        //             }
        //         });
        //         })
        //         .catch(error => {
        //         console.error('Error fetching current image:', error);
        //         });
        //     }

        //     // Update the current image every 1 second
        //     setInterval(updateCurrentImage, 1000);

        //     // Initial update
        //     updateCurrentImage();
        // });
        </script>
    </div>
</body>
</html>
